{% extends "index.html" %}



{% block contenido %}
    <div class="w-25" style="margin: 0 auto">
        <form id="frmPelicula" class="was-validated" method="POST" action="/recuperar/">
            <div>
                <h3 class="text-center fw-bold bg-dark text-white" style="font-size:2lvw">
                    Recuperar Contraseña
                </h3>
            </div>
            <div class="mb-3">
                <label class="fw-bold" for="txtusuario">Usuario:</label>
                <input type="text" name="txtusuario" id="txtusuario" class="form-control"  required>
            </div>
            <div class="mb-3">
                <label class="fw-bold" for="txtcorreo">Correo:</label>
                <input type="text" name="txtcorreo" id="txtcorreo" class="form-control"  required>
            </div>
            <div>
                <button type="submit" class="btn btn-dark">Enviar</button>

                
            </div>
        </form>
    </div>
    {% if mensaje %}
        <script>
            Swal.fire("Recuperar Contraseña", "{{ mensaje }}", "warning");
        </script>
    {% endif %}

{% endblock%}